*.iml
Secret.java
secret_strings.xml
keystore.properties
app-debug.apk
app-release.apk
KeystoreAstroApp.jks
jarRepositories.xml

/app/keystore
/app/keystore/KeystoreAstroApp.jks
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/app/release
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
